<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name"viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div id=outer-box>
        <h1>To do list app</h1>
        <form action="add.html" id="form-div" method="post"> <!--form submission triggers a post method-->
            <input type="text" name="note-text" id="note-text">
            <button type="submit">Add</button>
            <label for="note-text"></label>
        </form>
    </div>

    <div id="note-text">
        <!--area where to do notes are added, each note renders a new div with text and delete button-->
    </div>
    
</body>
</html>