<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name"viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id=outer-box>
        <h1>To do list app</h1>
        <form action="/" id="form-div" method="POST"> <!--form submission triggers a post method-->
            <input type="text" name="note-text" id="note-text">
            <button type="submit">Add</button>
            <label for="note-text"></label>
        </form>
    </div>

    <div id="note-text-div">
        <!--area where to do notes are added, each note renders a new div with text and delete button-->
        {%for note in notess%}
            <div style="color: black;">{{note}}</div>
        {%endfor%}
    </div>
    
</body>
</html>