*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(144, 77, 207);
}

#outer-box{
    max-width: 900px;
    min-width: 420px; /*allows outer box containing to resize up till 420px minumum size*/
    border: 2px solid red;
    margin: 0 auto; /*centers*/
    text-align: center;
    color: red;
}

#outer-box h1{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.col-auto{
    display: inline;
}

#form-div{
    margin: 5px 0px;
}

#note-text-div{
    border: 2px solid red;
    max-width: 900px;
    min-width: 420px;
    margin: 10px auto; /*creates margin between divs using margin top 10px*/
}

.btn btn-primary mb-3{
    border-radius: 25%;
    color: rgb(57, 57, 233);
}

.delete-div{
    display: inline;
}